* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
:root {
    --primary-font-color: rgb(186, 26, 66);
    --secondary-font-color: rgb(255, 221, 229);
    --bg-color: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
    --primary-font: "Overpass", sans-serif;
}

body {
    font-family: var(--primary-font);
    background-color: black;
    color: var(--primary-font-color);
    line-height: 1.6;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-font-color);
    margin-bottom: 10px;
}
/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    z-index: 1000;
}
/* Glassmorphism effect */
.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(118, 48, 48, 0.242);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
/* Navigation links */
.nav-links a {
    margin: 0 28px;
    text-decoration: none;
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: normal;
    transition: color 0.3s ease;
}
.nav-links a.active {
    color: rgb(40, 18, 23);
    font-weight: 700;
}
/* Hover effect for hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 15px;
    cursor: pointer;
}
/* Hamburger bars */
.hamburger .bar {
    margin-left: -9px;
    height: 1px;
    width: 100%;
    background-color: rgb(186, 26, 66);
    border-radius: 10px;
    transition: all 0.3s ease;
}
/* Active state for hamburger menu */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.hero-name {
    display: inline-block;
    overflow: hidden;
    animation: strechDown 2s ease forwards;
    margin-top: -30px;
    line-height: 1.2;
    transform-origin: top;
    font-family: 'Anton SC', sans-serif;
    font-size: clamp(2rem, 13vw, 12rem);
    background: rgba(186, 27, 67, 1.0);
    background: linear-gradient(0deg, rgba(186, 27, 67, 1.0), rgba(28, 9, 9, 1.0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #06b6d4;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.text-left, .Socials {
    width: 30%;
    font-size: clamp(0.5rem, 1vw, 1rem);
    line-height: 2;
    border-top: 1px solid rgb(186, 26, 66);
    margin-top: 50px;
    padding-top: 10px;
    height: 100px;
    background-color: none;
}

.text-left {
    margin-left: 75px;
    padding-top: 20px;
}
.bottom-text {
    margin-top: 20px;
    font-size: 1rem;
}
.Socials {
    margin-right: 71px;
    text-align: center;
    padding-top: 50px;
}
.Socials a {
    display: inline-block;
    margin: 0 20px;
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.2s ease;
}
.Socials a:hover {
    transform: translateY(-3px);
    opacity: 1;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    height: auto;
    border-radius: 20%;
    z-index: 1;
    margin-top: -90px;
}
.profile img {
    width: 600px;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.sections {
    display: inline-block;
    gap: 40px;
    width: 100%;
    padding: 20px;
}

.about-me-content {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.about-me-textleft, .about-me-textright {
    width: 40%;
    font-size: 1rem;
    line-height: 1.8;
    color: var(--secondary-font-color);
    background: linear-gradient(90deg,rgba(186, 26, 66, 0.15) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 40px;
    border-radius: 10px;

}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 5px;
    gap: 30px;
}

.skill-cards {
    display: flex;
    background: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(10px);
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgb(186, 26, 66);
}

.cname {
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.421);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: -50%;
    left: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding-top: 10px;
    color: black;
}
.skill-cards:hover .cname {
    bottom: 0;
    transition: bottom 0.3s ease;

}

.skill-cards img {
    height: 100px;
    width: 100px;
    padding: 10px;
    object-fit: contain;
}

/* SECTION */
.contact {
  padding: 100px 10%;
  background: #050505;
  text-align: center;
  color: #fff;
}

.contact-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: var(--primary-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-tagline {
  opacity: 0.7;
  margin-bottom: 40px;
}

/* BOX */
.contact-box {
  max-width: 600px;
  margin: auto;
  background: rgba(10, 10, 10, 0.6);
  padding: 40px 30px;
  border-radius: 12px;
  border: 1px solid #111;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.15);
  backdrop-filter: blur(8px);
}

/* INPUT GROUP */
.input-group {
  position: relative;
  margin: 25px 0;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 14px;
  background: #080808;
  border: 1px solid #222;
  border-radius: 6px;
  resize: none;
  font-size: 1rem;
  color: #fff;
  transition: 0.3s;
}

.textarea textarea {
  height: 150px;
}

/* LABEL FLOAT ANIMATION */
.input-group label {
  position: absolute;
  left: 16px;
  top: 14px;
  color: #888;
  transition: 0.3s ease;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label {
  top: -10px;
  left: 12px;
  font-size: 0.8rem;
  color: #888;
  background-color: #000000;
  padding: 0 4px;
  border-color: #888;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #222 !important;
}

/* BUTTON */
.neon-btn {
  width: 100%;
  padding: 14px 0;
  font-size: 1.2rem;
  cursor: pointer;
  background: linear-gradient(90deg,  rgba(28, 9, 9, 1.0), rgba(186, 27, 67, 1.0), rgba(28, 9, 9, 1.0));
  border: none;
  color: #fff;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.3s ease;
  /*box-shadow: 0 0 10px #ff007a80, 0 0 10px #00eaff80;*/
}

.neon-btn:hover {
  transform: scale(1.03);
}
.footer {
  background: #0a0a0a;
  padding: 10px 10%;
  border-top: 1px solid #1a1a1a;
  text-align: center;
  color: #999;
}

/* Container */
.footer-container {
  max-width: 850px;
  margin: auto;
}

/* Name */
.footer-logo {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
  color: #fff;
}
.footer-logo span {
  background-color: var(--primary-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Tagline */
.footer-tagline {
  font-size: 0.95rem;
  color: #7d7d7d;
  margin-bottom: 25px;
}

/* Social links */
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 28px;
}

.footer-socials a {
  color: #9d9d9d;
  text-decoration: none;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Copyright */
.footer-copy {
  font-size: 0.85rem;
  color: #6d6d6d;
  margin-top: 15px;
}

@keyframes strechDown {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(2.3);
    }
}

/* Breakpoints */
@media (max-width: 1024px) {

    .about-container {
        gap: 20px;
    }

    .profile img {
        width: 400px;
    }

    .text-left, .Socials {
        width: 35%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .text-left, .bottom-text{
        font-size: 0.7rem;
        line-height: 1;
    }
    .Socials a {
        margin: 0 10px;
        font-size: 1.5rem;
        
    }
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
    .about-me-textleft, .about-me-textright {
        width: 80%;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
}
@media (max-width: 660px) {
    .navbar {
        padding: 10px 5px;
    }
    .nav-links a {
        margin: 0 18px;
        font-size: 14px;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
     .hero-name {
        font-size: 4rem;
        margin-top: 10px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .text-left, .Socials {
        width: 100%;
        margin: 0;
        padding-top: 15px;
        height: auto;
    }

    .text-left {
        order: 2;
        margin-left: 0;
    }

    .Socials {
        order: 3;
        padding-top: 20px;
    }

    .profile img {
        order: 1;
        width: 280px;
    }
    .skill-cards {
        width: 80px;
        height: 80px;
    }

    .skill-cards img {
        width: 70px;
        height: auto;
    }
}
/* Small devices (phones, less than 434px) */
@media (max-width: 434px) {
    .navbar {
        width: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        padding: 10px 4px 10px 21px;
    }
    .hamburger {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 39px;
        right: -44px;
        background-color: rgba(255, 255, 255, 0.125);
        backdrop-filter: blur(10px);
        padding: 10px;
        border-radius: 10px;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links a {
        margin: 10px 0;
    }
    .hero-name {
        font-size: 3rem;
    }

    .bottom-text {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-top: 10px;
    }

    .profile img {
        order: 1;
        width: 220px;
    }
    .text-left {
        order: 2;
        margin-top: 20px;
    }
    .Socials {
        order: 3;
        margin-top: 20px;
    }

    .Socials a {
        margin: 0 12px;
        font-size: 1.5rem;
    }

    .skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 0.5fr));
    padding: 5px;
    gap: 20px;
    }

    .skill-cards {
        width: 70px;
        height: 70px;
    }

    .skill-cards img {
        width: 60px;
        height: auto;
    }
}